<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               Inscrivez-vous a la <a href="https://forms.gle/sVFdmqG9m2JGmU4HA">newsletter</a><br />
               Allez sur la <a href="https://nolanfa.sumupstore.com/">boutique en ligne</a><br />
               Lisez les <a href="https://falano.github.io/ceramics/blog_FR.html">articles de blog</a><br />
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. Tous droits réservés. <br />
{% if page.last_updated %}<span>Dernière mise à jour de la page:</span> {{page.last_updated}}<br/>{% endif %} Dernière génération du site: {{ site.time | date: "%-d / %m / %Y"  }} <br />
                </div>
            </div>
</footer>
