<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               Subscribe to the <a href="https://forms.gle/sVFdmqG9m2JGmU4HA">newsletter</a><br />
               Head to the <a href="https://nolanfa-shop.fourthwall.com/">online shop</a><br />
               Read the <a href="http://localhost:4000/portfolio/blog">blog posts</a><br />
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
                </div>
            </div>
</footer>
